@import "fonts";

body {
  font-family: "Roboto";
  //background: #ffffff;
  color: #111;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #ffffff;
}

ul {
  list-style: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;

  padding: 0 15px;
}

//navBar
.nav-bar {
  background: #ffffff;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #d9d9d9;
}
.nav-bar__container {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-list {
  display: flex;

  li {
    padding: 0 2rem;
    font-size: 16px;
    font-weight: 400;
  }
}

.nav-link {
  color: #111111;

  //color: #00249c;
  position: relative;
  cursor: pointer;
  text-decoration: none;
  &:hover {
    color: #00249c;
    transition: width 0.2s;
  }
}

.nav-link:after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: -3px;
  width: 0;
  height: 2px;
  background-color: #00249c;
  transition: width 0.5s;
}

.nav-link:hover:after {
  content: "";
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
  bottom: -3px;
  height: 2px;
  background-color: #00249c;
  transition: width 0.2s;
}

.nav-btn {
  font-weight: 500;
  display: flex;
  align-items: center;
  width: fit-content;
  margin-right: 10px;
  svg {
    margin-right: 5px;
  }
}

//navBar
//main title
.owner-benefit__container {
  margin-top: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.owner-info__container {
  display: flex;
  align-items: center;
}

.owner-img__container {
  background: linear-gradient(#9187ac, #9288ab, #9489ae, #9288ad);
  height: 420px;
  display: flex;
  justify-content: center;
  align-items: end;
}
.owner-benefit {
  padding-left: 3.5rem;
  h1 {
    font-size: 48px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 10px;
  }
  p {
    margin-top: 0;
    font-size: 24px;
  }
  a {
    display: block;
    font-family: "Roboto";
    font-size: 24px;
    color: #00249c;
  }
}

.owner-benefit__container {
  //margin-top: 50px;
  //display: flex;
}
//main title

//siteSection
.main-links {
  margin-top: 150px;
  font-weight: 800;
  font-size: 48px;
}
.section-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.about-me_container {
  padding-bottom: 10px;
  color: #111111;
  min-width: 585px;
  &:nth-child(2n + 1) {
    margin-right: 10px;
  }
  &:nth-child(2n) {
    margin-left: 10px;
  }
  p:hover {
    color: #606060;
  }
  p {
    display: flex;
    width: fit-content;
    padding: 30px 0 20px 20px;
    font-weight: 600;
    font-size: 24px;

    svg {
      margin-right: 5px;
      width: 20px;
    }
  }
  img {
    width: 80%;
    height: auto;
    margin: 0 auto;
    display: block;
  }
}
.about-text__container {
  display: flex;
  align-items: center;
}
//siteSection
.aquamarine {
  background: #bde9c9;
}
.blue {
  background: #92c1e9;
}
.pink1 {
  background: #f5dadf;
}
.pink2 {
  background: #fabbcb;
}
.target-btn {
  padding: 10px;
  background: #00249c;
  cursor: pointer;

  &:hover {
    transition: 0.2s linear;
    background: #021f82;
  }
}
