@import "adaptiveResume";

body {
  font-family: "Roboto";
  color: #111;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;

  padding: 0 15px;
}

//navBar
.nav-bar {
  background: #ffffff;
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #d9d9d9;
}
.nav-bar__container {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-list {
  display: flex;

  li {
    padding: 0 2rem;
    font-size: 16px;
    font-weight: 400;
  }
}

.nav-link {
  color: #111111;
  position: relative;
  cursor: pointer;
  text-decoration: none;
  &:hover {
    color: #00249c;
    transition: width 0.2s;
  }
}

.nav-link:after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: -3px;
  width: 0;
  height: 2px;
  background-color: #00249c;
  transition: width 0.5s;
}

.nav-link:hover:after {
  content: "";
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
  bottom: -3px;
  height: 2px;
  background-color: #00249c;
  transition: width 0.2s;
}

.nav-btn {
  font-weight: 500;
  display: flex;
  align-items: center;
  width: fit-content;
  margin-right: 10px;
  svg {
    margin-right: 5px;
  }
}

//navBar
//main title
.owner-benefit__container {
  margin-top: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.owner-info__container {
  display: flex;
  align-items: center;
}

.owner-img__container {
  background: linear-gradient(#9187ac, #9288ab, #9489ae, #9288ad);
  height: 420px;
  display: flex;
  justify-content: center;
  align-items: end;
}
.owner-benefit {
  padding-left: 3.5rem;
  svg {
    width: 20px;
  }

  .text-container {
    display: flex;
    align-items: center;
  }
  h1 {
    font-size: 48px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 10px;
  }
  p {
    margin-top: 0;
    font-size: 24px;
    margin-bottom: 0;
  }
  a {
    display: block;
    font-family: "Roboto";
    font-size: 24px;
    color: #00249c;
  }
}

//main title

//siteSection
.main-links {
  margin-top: 150px;
  font-weight: 800;
  font-size: 48px;
}
.section-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.about-me_container {
  padding-bottom: 10px;
  color: #111111;
  min-width: 585px;
  &:nth-child(2n + 1) {
    margin-right: 10px;
  }
  &:nth-child(2n) {
    margin-left: 10px;
  }
  p:hover {
    color: #606060;
  }
  p {
    display: flex;
    width: fit-content;
    padding: 30px 0 20px 20px;
    font-weight: 600;
    font-size: 24px;

    svg {
      margin-right: 5px;
      width: 20px;
    }
  }
  img {
    width: 80%;
    height: auto;
    margin: 0 auto;
    display: block;
  }
}
.about-text__container {
  display: flex;
  align-items: center;
}
//siteSection
//contactForm
.main-contacts__form {
  width: 100%;
  background-color: #fabbcb;
}
.contacts-plug {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 150px;
  background-color: #fff;
}
.main-contacts__rectangle {
  position: relative;
  //z-index: 1;
  &::after {
    border-radius: 50%;
    content: "";
    height: 700px;
    left: 50%;
    margin-left: -350px;
    position: absolute;
    top: -20%;
    width: 700px;
    z-index: 0;
    background: #faa9bc;
  }
}
.contacts-title__wrapper {
  position: relative;
  z-index: 2;
  color: #fb637e;
  display: flex;
  align-items: center;
  h4 {
    letter-spacing: 1px;
    max-width: 520px;
    font-weight: 800;
    font-size: 36px;
    padding-right: 5%;
  }
  p {
    margin-left: 20px;
    letter-spacing: 2px;
    max-width: 320px;
    margin-top: 20px;
    font-weight: 400;
    font-size: 16px;
    margin-right: 10%;
  }
}
.contact-btn {
  color: #fff;
  padding: 15px;
  background: #00249c;
  cursor: pointer;
  position: relative;
  z-index: 2;
  margin: 40px auto 0;
  &:hover {
    transition: 0.2s linear;
    background: #021f82;
  }
  font-size: 24px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: fit-content;
  svg {
    margin-right: 5px;
  }
}
.indicator-contact__container {
  display: flex;
  justify-content: end;
  position: relative;
  z-index: 2;
  img {
    width: 25%;
    margin-right: 15%;
    margin-top: -50px;
  }
}
//contactForm ---

//resume page
.resume-header {
  &__container {
  }
  display: flex;
  justify-content: center;
  margin-top: 70px;
  background: #021f82;
  color: #fff;
  h2 {
    font-weight: 800;
    letter-spacing: 5px;
    font-size: 62px;
    padding-top: 30px;
    margin-bottom: 0px;
  }
}

.resume-suriname {
  margin-top: -5px;
  font-weight: 500;
  font-size: 62px;
  margin-bottom: 0px;
}
.resume-subtitle {
  font-size: 24px;
  margin-top: 5px;
  letter-spacing: 1px;
  padding-bottom: 30px;
}
.resume-contact-__img {
  width: 20px;
  height: 20px;
}
.resume-contact__container {
  padding-bottom: 50px;
  border-bottom: 1px solid #a6a6a6;
  color: rgb(61, 61, 61);
  display: flex;
}
.resume-section__name {
  color: #111111;
  font-size: 36px;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
.resume-contact__wrapper {
  margin-right: 15%;
  width: 250px;
  div {
    display: flex;
    align-items: center;
    margin-top: 15px;
    img {
      margin-right: 7px;
    }
  }
  p {
    margin: 0;
  }
}
.resume-about__wrapper {
  p {
    margin-top: 15px;
  }
}
.resume-middle__section {
  display: flex;
  border-bottom: 1px solid #a6a6a6;
  padding-bottom: 50px;
}
.resume_skills__list {
  margin-right: 15%;
  width: 232px;
}
.skills-list {
  list-style: disc;
  li {
    margin-top: 25px;
  }
  padding-left: 15px;
}

.experience-item {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.resume-experience__title {
  margin-bottom: 25px;
}
.experience-length__description {
  margin-right: 10%;
  p {
    width: 80px;
  }
}
.experience-year {
  font-weight: 300;
  margin-top: 0px;
}
.experience-company__description {
  h5 {
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 24px;
  }
  p {
    margin-top: 0px;
    color: #a6a6a6;
    margin-bottom: 0;
  }
}
.footer-resume__container {
  display: flex;
  flex-wrap: wrap;
}
.reward-resume__time {
  font-weight: 300;
}
.reward-resume__item {
  margin-right: 5%;
}
.reward-resume__description {
  font-weight: 700;
  width: 200px;
  a {
    color: #00249c;
  }
}
//resume page

.aquamarine {
  background: #bde9c9;
}
.blue {
  background: #92c1e9;
}
.pink1 {
  background: #f5dadf;
}
.pink2 {
  background: #fabbcb;
}
.target-btn {
  padding: 10px;
  background: #00249c;
  cursor: pointer;
  color: #fff;

  &:hover {
    transition: 0.2s linear;
    background: #021f82;
  }
}
